.card {
 font-family: Inter;
 font-size:150%;
 text-align: center;
 color: Black;
 background-color:black;
}

#rubric {
  text-align: left;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  background: #1d6695;
  color: white;
  font-weight: 500;
}

img{
	max-width:100%;
	height:auto;
          width:600px;
          border-radius: 2px;
}

details summary {
  list-style: none;
}

details summary::-webkit-details-marker {
  display: none;
}

hr {opacity:0.2;}

@media (min-width: 600px) {
  body {
    position: absolute;
    width: 40%;
    left: 30%
  }
}